@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veterinária PetVet</h1>
</div>


    <p><img src="/petvet/wwwroot/img/original-aadac5403892c3d894736302bd8f138f.jpg"> </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quisquam consectetur quibusdam illum maxime quo voluptas quaerat, itaque fugiat, non commodi blanditiis? Atque alias voluptate nesciunt aut, voluptatem libero, architecto et laborum non, veritatis delectus ratione nostrum commodi dolorum! Omnis illo neque exercitationem dolor quia ut, sit eaque dolore? Quibusdam.</p>
   

