@model InfoAgenda
@{
    ViewData["Title"] = "Serviço";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Consulta
        <ul>
            <li>Descrição do serviço 1</li>
            <li>Valor R$ 145,00</li>
        </ul>
    </li>
    <li>Castração
        <ul>
            <li>Descrição do serviço 2</li>
            <li>Valor R$ 180,00</li>
        </ul>
    </li>
    <li>Vacinas
        <ul>
            <li>Descrição do serviço 3</li>
            <li>Valor R$ 200,00</li>
        </ul>
    </li>
    <li>Pet Shopp
        <ul>
            <li>Descrição do serviço 4</li>
            <li>Valor R$ 100,00</li>
        </ul>
    </li>
</ul>    